# Что делает этот файл? Это особенный файл для git,
# в котором указаны файлы, изменения в которых нужно
# игнорировать. Когда вы запускаете юпитер у себя на
# компьютере, он запоминает свое состояние в .ipynb_checkpoints
# поскольку остальным разработчикам не нужно знать состояние
# вашего ноутбука, а нужен только код ячеек, я добавил сюда этот файл

#Jupyter
.ipynb_checkpoints

# Python
__pycache__/